.media .modules {
  section {
    width: 100%;
    // margin-bottom: var(--header-height);
    background-color: red;
    &:empty {
      display: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.module--images {
      .grid:not(.is-mosaic) {
        .item {
          img.is-portrait {
            height: auto !important;
          }
        }
      }
      .slider {
        scroll-margin-top: var(--header-height);
      }
      .item {
        // scroll-margin-top: var(--header-height);
        &:not(.is-active) img.is-portrait,
        &:not(.is-active) img.is-landscape {
          aspect-ratio: 5 / 3 !important;
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
          // object-position: left;
        }
      }

      .controls {
        position: absolute;
        inset: 0;
        display: flex;
      }
      button {
        width: 50%;
        height: 100%;
        &.prev {
          cursor: url("/icon-arrow-w.svg"), w-resize;
        }
        &.next {
          cursor: url("/icon-arrow-e.svg"), w-resize;
        }
        &.btn--close {
          width: auto;
          height: auto;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 999;
          padding: var(--space-md);
        }
      }
    }
    &.module--exhibitions {
      img {
        max-height: calc(
          var(--vh) * 100 - calc(var(--header-height) + var(--space-lg))
        );
        height: calc(
          var(--vh) * 100 - calc(var(--header-height) + var(--space-lg))
        ) !important;
        width: auto !important;
        object-fit: contain;
        object-position: left top;
      }
    }
  }
}

.module--videos {
  .my-masonry-grid_column > div {
    margin-bottom: 1em;
  }
}

@media all and (max-width: 1080px) {
  .modules {
    section {
      &.module--slider {
        .slick-slide,
        .slide,
        img {
          max-width: calc(100vw - calc(var(--space-md--mobile) * 2));
          width: calc(100vw - calc(var(--space-md--mobile) * 2));
          img {
          }
        }
      }
      &.module--exhibitions {
        img {
          height: auto !important;
          width: 100% !important;
          object-fit: contain;
          object-position: left;
        }
      }
    }
  }
}
