.modules {
  section {
    width: 100%;
    // margin-bottom: var(--space-xl);
    &:empty {
      display: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.module--images {
      .is-mosaic .item {
        &:not(.is-active) img {
          aspect-ratio: 5 /3 !important;
          height: 100%;
          object-fit: cover;
        }
      }
      .item.is-active img {
      }
      img {
      }
    }
  }
}

@media all and (max-width: 1080px) {
  .modules {
    .module--slider {
      .slick-slide,
      .slide,
      img {
        max-width: calc(100vw - calc(var(--space-md--mobile) * 2));
        width: calc(100vw - calc(var(--space-md--mobile) * 2));
        img {
        }
      }
    }
  }
}
