.card--project,
.card--video,
.card--product,
.card--artwork {
  .header {
    padding: 0.75em 0 1em 0;
    @media all and (max-width: $md) {
      // padding: 0.3em 0 1em 0;
    }
  }
}

.card--product {
  .header {
    @media all and (min-width: $md) {
      text-align: center;
    }
  }
  a:hover {
    text-decoration: none;
    .price {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-position: under;
    }
  }
}

.card--artwork {
  .header {
    padding-bottom: 0;
    line-height: 1.1;
  }
  a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }
  figure img {
    // aspect-ratio: 5 / 3 !important;
    // object-fit: cover;
  }
}

.card--insta {
  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.card--project .header {
  @media all and (max-width: $md) {
    // padding: 0.3em 0 0.1em 0;
    padding-bottom: calc(1em + var(--space-sm));
  }
}

.card--video {
  // margin-bottom: 1em;
  .header {
    padding-top: 0.75em;
    padding-bottom: 0;
    // background-color: red;
    h2 {
      margin-bottom: 0.4em;
    }
  }
}

.card--news {
  position: relative;
  &:hover {
    z-index: 999;
    .image {
      opacity: 1;
    }
  }
  .image {
    position: absolute;
    left: 50%;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }
}
