// html:has(body[data-template="is-home"]),
// body[data-template="is-home"] {
//   // overflow: hidden;
// }
body[data-template="is-home"] {
  &.is-above-fold header nav {
    visibility: visible;
  }
  header nav {
    visibility: hidden;
  }
}

body[data-template="is-home"] main {
  padding: 0;
}

.content-home {
  cursor: pointer;
  .slide img {
    height: calc(var(--vh) * 100) !important;
    object-fit: cover;
  }
  .slick-arrow {
    // display: none !important;
    width: 33vw;
  }

  .caption {
    position: absolute;
    right: var(--space-lg);
    bottom: var(--space-lg);
    // padding: var(--space-lg);
  }
  .slick-dots li {
    line-height: 0;
  }
}

@media all and (max-width: $md) {
  .content-home {
    .slick-slider {
      .caption {
        right: unset;
        left: var(--space-md--mobile);
        bottom: var(--space-md--mobile);
      }
      .slick-dots {
        left: unset;
        right: var(--space-md--mobile);
        bottom: var(--space-md--mobile);
        transform: translateX(0);
      }
    }
  }
}
