img {
  max-width: 100%;
}

// .hidden {
//   display: none;
// }

.center-x-y {
  // @include center_it;
  display: grid;
  place-items: center;
}

// .ar-a4 {
//   img {
//     aspect-ratio: 1/1.414;
//   }
// }
figure {
}
ul.list-with-comma {
  display: flex;
  li {
    display: flex;
  }
  li:not(:last-child):after {
    content: ", ";
    color: inherit;
    padding-right: 0.2em;
  }
}

.outline {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: var(--border);
    z-index: 1;
    pointer-events: none;
  }

  &.is-rounded {
    border-radius: 2rem;
  }
  &.is-rounded::before,
  &.is-rounded::after {
    border-radius: 2rem;
  }
}

.b-t {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: var(--border-width);
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    // opacity: 0.5;
  }
}
.b-b {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: var(--border-width);
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    // opacity: 0.5;
  }
}

.hide-sb {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-s::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.lome-logo {
  // @include debugSquare(176px);
}

@keyframes wave {
  from {
    flex: 2 0 1rem !important;
  }

  to {
    flex: 2 0 10rem !important;
  }
}

.gradient {
  background: rgb(235, 234, 229);
  background: linear-gradient(
    90deg,
    rgba(235, 234, 229, 1) 100% rgba(235, 234, 229, 0) 0%
  );
}

.flex-2 {
  flex: 2;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: calc(var(--space-md) * -1); /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: calc(var(--space-md)); /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  margin-bottom: calc(var(--space-md));
}

.react-player__play-icon {
  border-width: 30px 0px 30px 50px !important;
  // border-top: 30px solid transparent !important;
  // border-bottom: 30px solid transparent !important;

  // border-left: 30px solid white !important;
}
