.image-expand {
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s var(--cubic);
  will-change: opacity;
  background-color: white;
  // backdrop-filter: blur(50px) contrast(110%);
  z-index: 251;
  .outer {
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    text-align: center;
  }
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // display: inline-block;
    // margin: 0 auto;
  }
  &.is-placed {
    opacity: 1;
    pointer-events: all;
    cursor: zoom-out;
    &.is-anime .outer {
      // padding: var(--space-lg);
    }
  }
  &.is-anime .outer {
    transition: width 0.4s var(--cubic), height 0.4s var(--cubic),
      transform 0.4s var(--cubic), padding-top 0.4s var(--cubic);
  }
  img {
    // max-height: 80vh;
  }
}
