@use "../../variables";
.mailchimp {
  input {
    width: 100%;
    text-align: left;
  }
  input,
  button {
    height: 1em;
    font-size: var(--text-lg);
    line-height: 1em;
    appearance: none;
  }

  @media all and (max-width: variables.$md) {
    input,
    button {
      font-size: var(--text-lg--mobile);
    }
  }
}
